# Prerequisites
*.d

# MAC Shit
.DS_Store
.vscode

# Windows Shit
.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# Ignore Specific LInux Executable
v4l2cam

# include the two redist windows obj files
!wincamera.obj
!v4l2camera-win.obj
